<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="/stylesheets/chat.css" />
    <link rel="shortcut icon" type="image/png" href="https://banner2.kisspng.com/20180618/ryu/kisspng-logo-ifox-creations-if012-wireless-speaker-favicon-5b2760904f2ca2.0158566515293072803243.jpg"/>
    <title>STMPRO</title>
</head>
<body>
<h1 id="title"></h1>
<p id="placeholder">[admin@191.1.3 ~] $</p>
<div class="text">
<pre style="color:white;text-align:left;"> 
____________________
< Welcome To STMPRO >
  ------------------
         \   ^__^ 
          \  (oo)\_______
             (__)\       )\/\
                 ||----w |
                 ||     ||</pre>
<p>Created By 19113</p>
<p>-----------------------------------------------------------------</p>
</div>
<div id="chat-container">
</div>

<textarea id="chat-input" autofocus>
</textarea>

<h2 id="hidden"></h2>
<script src="/javascripts/chat.js"></script>
</body>
</html>
