<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="/stylesheets/chat.css" />
    <title>Chat</title>
</head>
<body>
<div class="text">
<pre style="color:white;text-align:left;">____________________  ______________  ___   ______________  ________________
___    |_  ___/__  / / /__    |__   |/  /   __  ____/__  / / /__    |__  __/
__  /| |____ \__  /_/ /__  /| |_  /|_/ /    _  /    __  /_/ /__  /| |_  /   
_  ___ |___/ /_  __  / _  ___ |  /  / /     / /___  _  __  / _  ___ |  /    
/_/  |_/____/ /_/ /_/  /_/  |_/_/  /_/      \____/  /_/ /_/  /_/  |_/_/</pre>
<p>ASHAM CHAT V1.0 CREATED BY SAM</p>
<p>------------------------------</p>
</div>
<div id="chat-container">
</div>

<textarea id="chat-input" autofocus>
</textarea>

<script src="/javascripts/chat.js"></script>
</body>
</html>
