<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="/stylesheets/chat.css" />
    <title>Asham Chat</title>
</head>
<body>
<p id="placeholder">[admin@192.168.1.1 ~] $</p>
<div class="text">
<pre style="color:white;text-align:left;">  __________________________
< Welcome To Hackers Shell >
  --------------------------
         \   ^__^ 
          \  (oo)\_______
             (__)\       )\/\
                 ||----w |
                 ||     ||</pre>
<p>Welcome to Asham Hackers Shell.</p>
<p>Here Everyone Is An Admin. The Rules Are That There Are No Rules.</p>
<p>-----------------------------------------------------------------</p>
</div>
<div id="chat-container">
</div>

<textarea id="chat-input" autofocus>
</textarea>

<h2 id="hidden"></h2>
<script src="/javascripts/chat.js"></script>
</body>
</html>
